
/*  pagina home: visualização de 100%
    overflow não permite que a pagina role para os lados
    e propriedades do display flex, alinhamento e posicionamento 
    
*/

#home{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(180deg, rgba(105, 2, 101, 0.882) 0%, rgba(100, 0, 227, 0.9) 100%);
}

/* Este atribui está em algumas sessões da pagina, visualização de 100% e propriedades flexbox de centralização de itens e textos */


.height{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;

}
/* Cor de fundo da sessão formação */
.formacao-background{
    background: linear-gradient(180deg, rgba(105, 2, 101, 0.882) 0%, rgba(100, 0, 227, 0.9) 100%);
    color: #fff;
}

/* cor de fundo da sessão sobre */
.background-sobre{
    background: rgb(248, 248, 248);
}




